/* ***************************** */
/* HEADER */
/* ***************************** */

.logo {
	height: 2.2rem;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--main-very-light);
	height: 9.6rem; /*Because we want to do it sticky later and is easier when the height is fix*/
	padding: 0 4.8rem;
}
/* ***************************** */
/* NAVIGATION */
/* ***************************** */
.main-nav-list {
	list-style: none;
	display: flex;
	gap: 3.2rem;
	align-items: center;
}
.main-nav-link {
	display: inline-block;
	text-decoration: none;
	color: var(--gray-3);
	font-weight: 500;
	font-size: 1.8rem;
	transition: color 300ms;
}
.main-nav-link:hover {
	color: var(--main-darker);
}
.nav-cta.main-nav-link {
	padding: 1.2rem 2.4rem;
	border-radius: 9px;
	color: var(--white);
	display: inline-block;
	background-color: var(--main-color);
}
.nav-cta.main-nav-link:hover,
.nav-cta.main-nav-link:active {
	background-color: var(--main-darker);
}
/* ***************************** */
/* HERO SECTION */
/* ***************************** */

.hero {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 3.2rem;
	align-items: center;
	gap: 9.6rem;
}

.section-hero {
	background-color: var(--main-very-light);
	padding: 3.2rem 0 9.6rem 0;
}

.hero-description {
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}
.hero-image {
	width: 100%;
}

.delivered-meals {
	display: flex;
	margin-top: 8rem;
	align-items: center;
	gap: 1.6rem;
}
.delivered-img {
	display: flex;
}
.delivered-img > img {
	height: 4.8rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: 3px solid var(--main-very-light);
}
.delivered-img > img {
	margin-right: -1.6rem;
}
.delivered-img > img:last-child {
	margin-right: 0;
}

.delivered-text {
	font-size: 1.8rem;
	font-weight: 600;
}
.delivered-text > span {
	color: var(--main-darker);
	font-weight: 700;
}
/* ***************************** */
/* HOW SECTION */
/* ***************************** */
.section-how {
	padding: 9.6rem 0;
}

.step-img {
	width: 40%;
}
.step-number {
	font-size: 8.6rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 1.2rem;
}
.heading-tertiary {
	font-weight: 600;
}
.step-description {
	font-size: 1.8rem;
	line-height: 1.8;
}
.step-image-box {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.step-image-box::before,
.step-image-box::after {
	content: "";
	display: block;
	aspect-ratio: 1/1;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.step-image-box::before {
	width: 60%;
	background: var(--main-very-light);
	z-index: -2;
}
.step-image-box::after {
	width: 50%;
	background: var(--main-light);
	z-index: -1;
}
/* ***************************** */
/* HOW SECTION */
/* ***************************** */
.heading-featured-in {
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 2.4rem;
	columns: #888;
}
.section-featured {
	padding: 4.8rem 0 3.2rem 0;
}
.logos {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logos > img {
	height: 3.2rem;
	filter: brightness(0);
	opacity: 0.3;
}
/* ***************************** */
/* meals SECTION */
/* ***************************** */
.section-meals {
	padding: 4.8rem 0 3.2rem 0;
}

.meal-image {
	width: 100%;
}
.meal-title {
	font-weight: 600;
	font-size: 2rem;
	color: var(--gray-3);
	margin-bottom: 3.2rem;
}
.meal-attributes {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.meal-attribute {
	font-size: 2.4rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.meal-icon {
	height: 2.4rem;
	aspect-ratio: 1/1;
	color: var(--main-color);
}
.tag {
	display: inline-block;
	padding: 0.4rem 0.8rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: var(--gray-3);
	border-radius: 99px;
	font-weight: 600;
}
.tag--vegetarian {
	background-color: #51cf66;
}
.tag--vegan {
	background-color: #94d82d;
}
.tag--paleo {
	background-color: #ffd43b;
}

.meal-tags {
	margin-bottom: 1.2rem;
	display: flex;
	gap: 0.4rem;
}
.meal {
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
	border-radius: 11px;
	overflow: hidden;
	transition: all 300ms;
}
.meal:hover {
	transform: translateY(-1rem);
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.08);
}
.meal-content {
	padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.list-icon {
	height: 3rem;
	width: 3rem;
	color: var(--main-color);
}
.list-item {
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.all-recipes {
	text-align: center;
	font-size: 1.8rem;
}
.link {
	color: var(--main-color);
	text-decoration: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 0.2rem;
	display: inline-block;
	transition: all 300ms;
}
.link:hover,
.link:active {
	color: var(--main-darker);
	border-bottom: 1px solid transparent;
}
/* ***************************** */
/* testimonials SECTION */
/* ***************************** */
.section-testimonials {
	padding: 9.6rem 0;
}
